In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
# average exchange rate
df_avg = pd.read_csv("../data/average_exchange_rate.csv")

In [3]:
df_avg
# the 10-year period exchange rate only contains 2,430 rows due to weekends being excluded

,period,currency_id,currency_name_th,currency_name_eng,buying_sight,buying_transfer,selling,mid_rate
0,2015-11-20,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),35.4844,35.5783,35.8992,35.7388
1,2015-11-19,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),35.6730,35.7653,36.0900,35.9277
2,2015-11-18,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),35.7700,35.8616,36.1731,36.0174
3,2015-11-17,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),35.7064,35.7990,36.1286,35.9638
4,2015-11-16,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),35.7052,35.7972,36.1169,35.9571
...,...,...,...,...,...,...,...,...
2425,2025-10-01,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),32.1999,32.2775,32.5940,32.4358
2426,2025-09-30,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),32.0476,32.1370,32.4616,32.2993
2427,2025-09-29,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),32.0140,32.0763,32.3876,32.2320
2428,2025-09-26,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),31.9994,32.0690,32.3840,32.2265
2429,2025-09-25,USD,สหรัฐอเมริกา : ดอลลาร์ (USD),USA : DOLLAR (USD),31.9012,31.9795,32.2975,32.1385

In [ ]:
# weighted-average interbank 
df= pd.read_csv("../data/exchange_rate.csv")